body {
    background-color: #202020;
    color: #ffffff;
}

.cabecalho-moda {
    background-color: #BB86FC;
    padding: 5px;
}

.cabecalho-casa {
    background-color: #00C4B4;
    padding: 5px;
}

.itens-tabela {
    background-color: #424250;
    padding: 5px;
}
